<!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <style>
        div{
           width: 50%;
        }
      </style>

    </head>
    <body>
      <header>
        <a href="/">Главная</a>
        <a href="/about">О Компании</a>
        <a href="/news">Новости</a>
        <a href="/FAQ">FAQ</a>
        <a href="/contacts">Контакты</a>
        <a href="/policy">Политика конфиденциальности</a>
        <a href="/vacancies">Вакансии</a>
        <a href="/reviews">Отзывы</a>
        <a href="/coupons">Промокоды и Купоны</a>
      </header>
      {% block head_text %}{% endblock head_text %}
      <div >
        {%block main_content %}
        {% endblock main_content%}
      </div>
    </body>
</html>