{% extends "base.html" %}
{% block head_text %}
    <h1>FAQ</h1>
{% endblock head_text %}

{% block main_content %}
<div class="faq-section">
    
        {% for question in questions %}
        <div class="faq-item">
                <h2>{{ question.issuer }}</h2>
                <details>
                    <summary>  {{ question.question_text }}?</summary>

                    {{ question.answer_text }}!
                </details>

                <strong>{{ question.answer_date }}</strong>
        </div>
        {% endfor %}
</div >
{% endblock main_content %}